*{
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    height: 100vh;
    margin: 20px;
    background-color: #000;
}
.container{
    position:relative;
    width:25%;
    height: 60vh;
    border-radius: 20px;
    background: linear-gradient( #2c2f03e4 , #034f4fcf );
    background-color: blur(8px);
    box-shadow: 2px 2px 20px #4c4c4c68,  inset 0 0 60px #000000;
    top: 58px;
    overflow: hidden;
    opacity: 0 ;
    pointer-events:none;
    z-index: 10;
     user-select: none;  
}


.container:hover{
    box-shadow: 2px 2px 30px #4c4c4caa,  inset 0 0 50px #000000;
}
button{
    position: absolute;
    left:61%;
    width: 3%;
    height:44px;
    font-weight: bolder;
    text-align: center;
    margin: 8px;
    border-radius: 8px;
    color:white;
    border: none;
    background: blur(8px);
    background:linear-gradient(138deg, #464a1c47, #025f5fb3);
    box-shadow: 0 0 10px #868a8ca4,  inset 0 0 10px #2282a26c;
    opacity: 0;
    pointer-events:none;
}
button:hover{
    cursor: pointer;
    background: linear-gradient(138deg, #3e421a, #014f4f);
    box-shadow: 0 0 20px #868a8ca4,  inset 0 0 20px #2282a26c;
}
#open{ 
   
    font-weight: bolder;
    font-size: 180%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}   
#close{

    font-weight:bold;
    font-size: 200%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
}


.container ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    height: 90%;
    list-style: none;
    margin-top: 20px;
    padding: 0;
}
.container ul li{
    margin: 30px;
    font-size: 150%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    width: 100%;
    height: 15%;
    text-align: start;
    padding-top: 15px;
    padding-left:10px;
    border-radius: 25px;
}

.container ul li a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em #000000;
}
.container ul li:hover{
    background: linear-gradient(rgba(99, 111, 8, 0.27) , rgba(9, 60, 107, 0.372));
    box-shadow: 0 0 20px rgba(221, 212, 42, 0.307) , inset 0 0 60px rgba(17, 150, 70, 0.235); 
}
.container ul li:focus-within{
   background: linear-gradient(rgba(99, 111, 8, 0.304) , rgba(9, 60, 107, 0.55));
    box-shadow: 0 0 20px rgba(221, 212, 42, 0.61) , inset 0 0 60px rgba(17, 150, 70, 0.473); 
}
.container ul li:focus-within a{
    color: #fffb00ac;
}

.active {
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
    pointer-events:auto;
}

@media screen and (max-width: 768px){
    body{
        flex-direction: column;
        justify-content: flex-start;
        align-items:center;
    }
    .container{
        width: 70%;
        height: 70vh;
        top: 70px;
    }
    .container ul li{
        font-size: 120%;
        margin: 15px;
        height: 12%;
        padding-top: 1rem;
    }
    button{
        top: 2rem;
        left:80%;
        width: 3rem;
        font-size: 60%;
    }
}
